<!-- 
#
# TEMPLATE: LOGIN
#
# -->
<template name="resetPassword">

		{{> navigation}}
	<div class="blog section section-invert customMenuPadding">
		<div class="container">
		
		
			
			<div class="row py-4">
				<div class="col-sm-12 col-md-6 offset-md-3" style="margin:0 auto;">
				
				
				
					<div class="card mt-4">
						<div class="card-body">
					
							<div class="text-center m-b-md">
								<h3>Please change your password now!</h3> 
								<hr />
							</div>
							
							
							<div class="hpanel hgreen">
								<div class="panel-body">
							
									<form id="loginForm">
										<div class="form-group">
											<label class="control-label" for="newPassword">New Password</label>
											<input type="text" required=""  name="newPassword" id="newPassword" class="form-control">
											<span class="help-block small"></span>
										</div>
										<button class="ladda-button btn btn-danger btn-block uiActionResetPassword" data-style="slide-up">
											<span class="ladda-label">Change Password!</span>
										</button>
									</form>
									
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
	{{> footer}}
	
	<style>
		#onesignal-bell-container{ display:none !important; }
	</style>

</template>


